# The mDNS component is now added as a dependency in idf_component.yml

# USB-C Power Management Configuration
CONFIG_I2C_MASTER_SCL_IO=9
CONFIG_I2C_MASTER_SDA_IO=8
CONFIG_OTG_PIN=13
CONFIG_I2C_MASTER_FREQ_HZ=100000
CONFIG_POWER_CHIP_ADDR=0x6B
CONFIG_ENABLE_OTG_BOOST_MODE=y
CONFIG_BOOST_VOLTAGE_VALUE=0x93
CONFIG_BOOST_FREQUENCY_VALUE=0x38
